.cart {
  background-color: white;
  padding: 1rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.summary__title {
  font-size: 28px;
  padding: 15px 15px 25px;
  font-weight: 700;
}

.cart__items {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: grid;
  grid-gap: 10px 0;
  font-size: 18px;
  grid-template-columns: 170px 45px 75px;
  margin-bottom: 0.5rem;
}

.cart__item__title {
  text-align: left;
  text-overflow: ellipsis;
}

.cart__item__title__total {
  font-weight: 700;
  font-size: 18px;
}

.cart__item__amount {
  text-align: left;
}

.cart__item__price {
  color: #24c486;
  text-align: right;
  font-weight: 700;
  font-size: 18px;
}

.cart__items__total {
  width: 100%;
  max-width: 290px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #333;
  padding: 0.5rem 0;
}
